<ion-view view-title="Issues">

<ion-nav-buttons side="secondary">
   <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button-clear button-positive">Déconnection</button>
</ion-nav-buttons>
<ion-content class="has-header" ng-controller="IssueListCrtl">

<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="search text"  ng-model="searchText" ng-enter="search()">

  </label>
    <button ng-if="searchText.length" data-ng-click="clearSearch()" ng-model="clear" class="button button-clear">
              X
    </button>
</div>

<div class="bar bar-header item-input-inset">
Trier par:
<div class="button-bar">
  <button type="button" ng-click="predicate = 'owner.name'; reverse=!reverse; nameOrd()" class="button button-clear button-positive">Nom d'auteur <i class="icon {{nOrd}}"></i></button>

  <button type="button" ng-click="predicate = 'updatedOn'; reverse=!reverse; dateOrd()" class="button button-clear button-positive">Date  <i class="icon {{dOrd}}"></i></button>
</div></div>
  <!--<button type="button" ng-click="searchbydate()" class="button button-clear button-positive">Distance</button>-->
<div class="list">
 <label class="item item-input item-select">
<div class="input-label">
      Type
    </div>
   <select ng-model="searchText" ng-enter="search()">
                    <option value="created" selected>created</option>
                    <option value="assigned">assigned</option>
                    <option value="in_progress">in_progress</option>
                    <option value="rejected">rejected</option>
                    <option value="solved">solved</option>
                </select>

  </label>
</div>

<ion-list>

<ion-item class="item-avatar-left" ng-repeat="issue in issues | filter:searchText | orderBy:predicate:reverse" ng-click="openModal()"  ui-sref="tab.issueShow({id:issue.id})">
<img actual-src="{{issue.imageUrl}}" ng-src="img/default.jpg">
<h2>{{issue.description}}</h2>
<p><i class="sbInfos ion-information-circled"></i><i ng-class="{'solved': issue.state == 'solved','rejected': issue.state == 'rejected'}">{{issue.state}}</i><i class="sbInfos ion-ios-calendar"></i>{{issue.updatedOn|date:'dd/MM/yyyy à h:mm'}}<i class="sbInfos ion-ios-person"></i>{{issue.owner.name}}</p>
</ion-item>
</ion-list>
<ion-infinite-scroll
ng-if="moreDataCanBeLoaded()"
icon="ion-loading-c"
on-infinite="loadMoreData() distance="1%"">
</ion-infinite-scroll>

</ion-content>
</ion-view>
