<ion-view view-title="Issue List">
 <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button ion-log-out"></button>
  </ion-nav-buttons>
  <ion-content>
  <ion-list ng-controller="IssueListCrtl">
    <div class="list" ng-repeat="issue in issues" ui-sref="issueItem">
      <!-- <a class="item item-avatar" ng-click="openModal()" href="#/tab/issueList/{{issue.id}}">-->
      <a class="item item-avatar" href="#/tab/issueList/{{issue.id}}">
        <img src={{issue.imageUrl}}>
        <h2>{{issue.description}}</h2>
        Etat: {{issue.state}} - Mis à jour le: {{issue.updateOn}}
      </a>
    </div>
  </ion-list>
  </ion-content>
</ion-view>
