<ion-view view-title="Issues">

<ion-nav-buttons side="secondary">
<button class="button button-icon icon ion-log-out"></button>
</ion-nav-buttons>

<ion-content class="has-header">

<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>


</div>

<ion-list ng-controller="IssueListCrtl">
<ion-item class="item-avatar-left" ng-repeat="issue in issues" ng-click="openModal()"  ui-sref="tab.issueShow({id:issue.id})">
<img actual-src="{{issue.imageUrl}}" ng-src="img/default.jpg">
<h2>{{issue.description}}</h2>
Etat: {{issue.state}} - Mis à jour le: {{issue.updatedOn}}
</ion-item>
</ion-list>
</ion-content>
</ion-view>
