<ion-view view-title="Issue">
<ion-nav-bar animation="nav-title-slide-ios7"
type="bar-positive"
back-button-type="button-icon"
back-button-icon="ion-arrow-left-c"></ion-nav-bar>

<ion-nav-buttons side="secondary">
  <button class="button" ng-controller="BackCtrl" ng-click="myGoBack()">Back</button>
  <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Déconnection</button>
</ion-nav-buttons>

<ion-content class="has-header">
<div class="list card" ng-controller="IssueShowCrtl">
  <div class="item item-thumbnail-left">
    <img actual-src="{{issue.imageUrl}}" ng-src="img/default.jpg">
    <h2>{{issue.description}}</h2>
    <p>Type: {{issue.issueType.name}}</p>
    <p>Auteur: {{issue.owner.name}}</p>
    <p>Créé le: {{issue.createdOn}}</p>
    <p>Mis à jour le: {{issue.updatedOn}}
  </div>
  <form ng-submit="addComment(issue.id)">
    <div class="item item-input-inset" ng-model="issue.payload.text">
      <div class="list">
        <label class="item item-input">
          <textarea type="Comments" placeholder="Comments" ng-model="action.payload.text"></textarea>
        </label>
      </div>
    </div>
    <div class="item">
      <button type="submit" class="button button-block button-positive">
        Ajouter un comentaire
      </button>
    </div>
  </form>
  <div class="item" ng-repeat="comment in issue.comments">
    <p>{{comment.text}}</p>
    <p>autheur: {{comment.author.name}} Envoyé le: {{comment.postedOn}}</p>
  </div>
</div>
</ion-content>
</ion-view>
