<ion-view view-title="Issue">
  <ion-nav-bar animation="nav-title-slide-ios7"
           type="bar-positive"
           back-button-type="button-icon"
           back-button-icon="ion-arrow-left-c"></ion-nav-bar>
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="canGoBack && goBack()">Back</button>
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
  </ion-nav-buttons>





  
       <ion-content class="has-header">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img ng-src="{{issue.imageUrl}}">
                <h2>{{issue.descritpion}}</h2>
                <p>{{issue.type}}</p>
            </div>
            <div class="item item-body">
                <p>{{speaker.owner.name}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
