<ion-view view-title="New Issue">
  <ion-nav-buttons side="secondary">
    <a type="button" class="button icon-left ion-chevron-left button-clear button-dark" ng-controller="BackCtrl" ng-click="myGoBack()">Retour</a>
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button-clear button-positive">Déconnection</button>
  </ion-nav-buttons>

  <ion-content>
    <form ng-submit="createIssue()" ng-controller="IssueTypeListCrtl">
      <div class="list card">
          <div class="item">
            Afin de créer un incident, veuillez remplir les champs suivants :
          </div>
          <div class="item">
            <label class="item item-input item-select">
              <div class"input-label">
                Séléctionner un type d'accident
              </div>
              <select ng-model="issue.issueTypeId">
                <option ng-repeat="issueType in issueTypes" value="{{issueType.id}}">
                  {{issueType.name}}
                </option>
              </select>
            </label>
          </div>
        <label class="item item-input">
          <textarea ng-model="issue.description" placeholder="Description de l'incident"></textarea>
        </label>
        <div class="item">
          Ajouter une photo
        </div>
        <div class="item" ng-controller="PhotoCtrl">
          <button type="button" ng-click="getPhoto()" class="button button-block button-primary" > <i class="icon ion-loading-c"></i>Prendre une photo !</button>
          <img ng-src="{{lastPhoto}}" style="max-width: 50%">
          {{lastPhoto}}
        </div>

        <div class="item">
          <button type="button" ng-click="getPosition()" class="button button-block button-primary icon ion-pinpoint "> Me localiser joder</button>
        </div>
        <div class="item">
           <p>
              lat: {{position.lat}} long: {{position.lng}}
          </p>
        </div>
      </div>
      <button type="submit" class="button button-block button-positive">Ajouter l'incident</button>
    </form>
</ion-view>
