<ion-view view-title="New Issue">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-controller="BackCtrl" ng-click="myGoBack()">Back</button>
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
  </ion-nav-buttons>

  <ion-content>
    <form ng-submit="createIssue()" ng-controller="IssueTypeListCrtl">
      <div class="list card">
          <div class="item">
            Afin de créer un incident, veuillez remplir les champs suivants :
          </div>
          <div class="item">
            <label class="item item-input item-select">
              <div class"input-label">
                Séléctionner un type d'accident
              </div>
              <select ng-model="issue.issueTypeId">
                <option ng-repeat="issueType in issueTypes" value="{{issueType.id}}">
                  {{issueType.name}}
                </option>
              </select>
            </label>
          </div>
        <label class="item item-input">
          <textarea ng-model="description" placeholder="Description de l'incident"></textarea>
        </label>
        <div class="item">
          Ajouter une photo
        </div>
        <div class="item">
          <button ng-click="getPhoto()" class="button button-block button-primary">Prendre une photo</button>
          <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        </div>
        <div class="item">
          <button ng-click="setGeolocation()" class="button button-block button-primary">Retrouver la localisation</button>
        </div>
        <div class="item">
            <button class="button button-clear" ng-click="getPosition()">
              PositionGeo
             </button>
          lat: {{lat}} long:
        </div>

      </div>
      <button type="submit" class="button button-block button-positive">Ajouter l'incident</button>
    </form>
</ion-view>
