<ion-view view-title="New Issue">


  <ion-nav-buttons side="primary">
    <a type="button" class="button icon-left ion-chevron-left button-clear button-dark" ng-controller="BackCtrl" ng-click="myGoBack()"></a>
    </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button-clear button-positive">Déconnection</button>
  </ion-nav-buttons>






  <ion-content>
    <form name="CreateIssue" ng-submit="createIssue()" ng-controller="IssueTypeListCrtl">
      <div class="list card">
          <div class="item">
            <label class="item item-input item-select">
              <div class"input-label">
                Type
              </div>
              <select ng-model="issue.issueTypeId">
                <option ng-repeat="issueType in issueTypes" value="{{issueType.id}}">
                  {{issueType.name}}
                </option>
              </select>
            </label>
          </div>
        <label class="item item-input">
          <textarea ng-model="issue.description" placeholder="Description de l'incident"></textarea>
        </label>
        <div class="item" ng-controller="PhotoCtrl">
          <button type="button" ng-click="getPhoto()" class="button button-block button-primary" >
          <i class="icon ion-loading-c"></i>Ajouter une photo !</button>
          <img actual-src="{{lastPhoto}}" style="max-width: 10%" ng-src="img/default.jpg"> 


        </div>
        <div class="item">
          <button type="button" ng-click="getPosition()" class="button button-block button-primary icon ion-pinpoint "> Me localiser</button>
        </div>
        <div class="item">
           <p>
              Localisé à, lat: {{position.lat}} long: {{position.lng}}
          </p>
        </div>
          <div class="item">
         <button ng-if="issue.description" type="submit" class="button button-block button-energized">Ajouter l'incident</button>
           </div>

      </div>
     
    </form>
</ion-view>
